---
apiVersion: v2
appVersion: v0.20
description: DNS proxy as ad-blocker for local network
name: blocky
version: 11.0.0
deprecated: true
kubeVersion: ">=1.19.0-0"
keywords:
  - blocky
  - adblock
  - dns
home: https://github.com/johanneskastl/blocky-helm-chart/tree/main/charts/blocky
icon: https://github.com/0xERR0R/blocky/raw/master/docs/blocky.svg?sanitize=true
sources:
  - https://github.com/0xERR0R/blocky
# maintainers:
#   - name: johanneskastl
#     email: kastl@b1-systems.de
dependencies:
  - name: common
    repository: https://library-charts.k8s-at-home.com
    version: 4.5.2
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 16.13.1
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: deprecated the chart, use the one from github.com/johanneskastl/helm-charts
